.header {
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: var(--clr-l-text-s);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.logo {
  height: 6rem;
  padding: 1rem 2rem;
  background-color: light-dark(var(--clr-l-fill), var(--clr-d-fill));
  border-radius: 0.5rem;
  border: 1px solid light-dark(var(--clr-l-border-w), var(--clr-d-border-w));
  box-shadow: 0 0.2rem 0 light-dark(var(--clr-l-border-s), var(--clr-d-border-s));
}
