.pokemonCard {
  background-color: light-dark(var(--clr-l-fill), var(--clr-d-fill));
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  flex: 1;
  border: var(--border-w);
  box-shadow: var(--shadow-elevation-medium);
  position: relative;
  transition: transform 0.2s ease-in-out;

  .pokemonImage {
    width: 60%;
    height: 60%;
    object-fit: contain;
    margin: auto;
    display: block;
  }
}

@keyframes slap {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.sticker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: auto;
  pointer-events: none;
  z-index: 10;
  animation: slap 0.15s ease-in forwards;
}

.pokemonCard:hover:not(:disabled) {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: var(--shadow-elevation-high);
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .pokemonCard {
    height: 30vh;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
    flex: none;

    h2 {
      font-size: 1rem;
      margin: 0;
    }

    .pokemonImage {
      height: 90%;
      width: auto;
      object-fit: contain;
    }
  }

  .sticker {
    width: 100px;
  }
}
