.pokemonCard {
  background-color: light-dark(var(--clr-l-fill), var(--clr-d-fill));
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-inline: 1rem;
  flex: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

  .pokemonImage {
    max-width: 300px;
    object-fit: contain;
  }
}

.pokemonCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}
