.pokemonCard {
  background-color: light-dark(var(--clr-l-fill), var(--clr-d-fill));
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-inline: 1rem;
  flex: 1;
  border: var(--border-w);
  box-shadow: var(--shadow-elevation-high);

  .pokemonImage {
    max-width: 300px;
    object-fit: contain;
  }
}

.pokemonCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}
