:root {
  color-scheme: light dark;

  --clr-l-brand: oklch(0.6461 0.1891 17.1);
  --clr-l-text-s: oklch(0.3019 0.0258 354.4);
  --clr-l-text-w: oklch(0.5031 0.0196 338.03);
  --clr-l-border-s: oklch(0.6441 0.0193 340.18);
  --clr-l-border-w: oklch(0.8003 0.0026 345.23);
  --clr-l-fill: oklch(0.9521 0 0);
  --clr-l-bg: oklch(1 0 0);

  --clr-d-brand: oklch(0.6518 0.1876 8.32);
  --clr-d-text-s: oklch(1 0 0);
  --clr-d-text-w: oklch(0.8246 0.0156 332.28);
  --clr-d-border-s: oklch(0.5415 0.0333 309.87);
  --clr-d-border-w: oklch(0.3841 0.0226 314.54);
  --clr-d-fill: oklch(0.3118 0.0244 317.63);
  --clr-d-bg: oklch(0.2072 0.0251 316.59);

  --border-s: 1px solid light-dark(var(--clr-l-border-s), var(--clr-d-border-s));
  --border-w: 1px solid light-dark(var(--clr-l-border-w), var(--clr-d-border-w));
}

body {
  color: light-dark(var(--clr-l-text-w), var(--clr-d-text-w));
  background-color: light-dark(var(--clr-l-bg), var(--clr-d-bg));
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-family: "WDXL Lubrifont SC", sans-serif;
  font-size: 2.5rem;
  color: light-dark(var(--clr-l-brand), var(--clr-d-brand));
}

h2 {
  font-family: "Allan", sans-serif;
  font-size: 2rem;
  color: light-dark(var(--clr-l-text-s), var(--clr-d-text-s));
}

h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif;
  color: light-dark(var(--clr-l-text-s), var(--clr-d-text-s));
}

h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
